* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 text-decoration: none;
 list-style:none;
 font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: "#020617"
    --secondary-color: "#0f172a"
    --tertiary-color: "#1e293b"
    --head-text: 21px
    --sub-head-text: 19px
    --normal-text: 15px
} 

::-webkit-scrollbar {
  display: none;
}
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-size: var(--normal-text);
    color: white;   
}

.button {
    min-height: 45px;
    width: 100%;
    background-color:#0f172a; 
    text-align: start;
    border-radius: 8px;
    font-size: 15px;
    color: #fff; /* Text color */
    padding: 10px 12px;
    border: none; /* No border by default */
    cursor: pointer; /* Pointer on hover */
    transition: all 0.3s ease; /* Smooth transition */
}

.button.selected {
    color: #000; /* Text color remains black */
    background-color: #fff; /* Background becomes white */
}

.button:active {
    color: #000; /* Changes text color on click */
    background-color: #00d8ff; /* Changes background to blue */
    transform: scale(0.98); /* Slightly reduces size for a click effect */
    transition: all 0.2s ease; /* Smooth transition */
}
.button:hover {
    border: 2px solid #00d8ff; /* Adds border on hover */
    color: #00d8ff; /* Change text color */
}
.wfit{
    width: 95px;
}
.dropdown{
    width: 95px;
    border: 2px solid rgba(255,255,255,0.1); /* Adds border on hover */
    margin-top: .5rem;
    max-height: 50%;
    overflow-y: auto;
}

.dropdownHover:hover {
    color: #00d8ff; /* Change text color */
}